// Определение переменных
$primary-color: #3498db;
$hover-color: #2980b9;
$font-family: 'Arial, sans-serif';

// Стили для body
body {
    font-family: $font-family;
    background-color: #f4f4f4;
    padding: 20px;

    // Стили для кнопки
    .btn-custom {
        background-color: $primary-color;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;

        // Вложенность для стилей при наведении
        &:hover {
            background-color: $hover-color;
        }
    }
}
